
header{ background-color: #xx;
	text-align: center;
	padding: 10px;}
body {font-family: Arial, Helvetica, sans-serif;}
		ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E6E6FA;}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
li a:hover {
  background-color: #FFA07A;}
	</style>
body {
  background-color: #fefbd8;
}
h1 {
  background-color: #f18973;
}
div {
  background-color: #d5f4e6;
}
